{% extends "index.html" %}

{% block right-container %}
<link rel="stylesheet" href="/static/blog/css/home/article_list.css">
    <div class="article-list">
        <div class="top-article">
            <a href=""><img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1582035437572&di=9441360124aa6442fc12fd2df20e7090&imgtype=0&src=http%3A%2F%2Fn.sinaimg.cn%2Fsinacn15%2F275%2Fw640h435%2F20181010%2Fcaba-hkrzvkw4936632.jpg" alt=""></a>
            <div class="sub-title">
                <h2><a href="">猫经常清理自己的毛</a></h2>
                <p class="title-details">小猫在很多时候，爱舔身子，自我清洁。饭后猫会用前爪擦擦胡子，被人抱后用舌头舔舔毛。这是猫的本能，去除自己身上的异味以躲避捕食者的追踪。猫的舌头上有许多粗糙的小突起，这是除去脏污最合适不过的工具。</p>
                <span>2020/2/13 12:05:20</span>
            </div>
        </div>
        <div class="page-list">
            <ul>
                <li><a href="">
                    <i>></i>
                    我是布偶猫，现在有越来越多的人喜欢我，因为我长得漂亮又善良，脾气又好又优雅。
                    <span>2020/2/13 12:05:20</span>
                </a></li>
                <li><a href="">
                    <i>></i>
                    我是布偶猫，现在有越来越多的人喜欢我，因为我长得漂亮又善良，脾气又好又优雅。
                    <span>2020/2/13 12:05:20</span>
                </a></li>
                <li><a href="">
                    <i>></i>
                    我是布偶猫，现在有越来越多的人喜欢我，因为我长得漂亮又善良，脾气又好又优雅。
                    <span>2020/2/13 12:05:20</span>
                </a></li>
                <li><a href="">
                    <i>></i>
                    我是布偶猫，现在有越来越多的人喜欢我，因为我长得漂亮又善良，脾气又好又优雅。
                    <span>2020/2/13 12:05:20</span>
                </a></li>
            </ul>
        </div>
    </div>
{% endblock %}