{% extends "index.html" %}

{% block right-container %}
<link rel="stylesheet" href="/static/blog/css/home/article-details.css">
<div class="article-details">
    <div class="article-header">
        <h1>《仙剑》系列Steam新史低价促销 特惠价25元起</h1>
        <div class="title-detail">
            2020-02-18 10:50:17 来源：游民星空 作者：TOMO 编辑：TOMO　浏览：<span>13666</span>
        </div>
    </div>
    <div class="article-content">
        <p>据彭博社报道，任天堂可能会因为新冠病毒的爆发而面临全球Switch供货短缺的问题。据了解任天堂供应链的人士称，由于新冠病毒疫情导致生产出现障碍，任天堂可能最早会在4月份开始难以向美国和欧洲市场供应足够的Switch。
            由于来自中国的组件供应有限，影响了任天堂在越南的组装工厂的产量，这个月的组件短缺预计会影响4月份的Switch供货，因为现有的库存和出货都已售出。

        </p>
        <a href=""><img src="https://ss1.bdstatic.com/70cFuXSh_Q1YnxGkpoWK1HF6hhy/it/u=416131109,868820508&fm=26&gp=0.jpg" alt=""></a>
        
        <p>供货短缺可能会对任天堂造成打击，因为在3月20日会发售Switch热门游戏《集合啦!动物森友会》。任天堂的一名发言人对彭博社表示：“目前我们没有看到对美国的供货有任何重大影响，但我们将保持警惕，并在必要时采取措施。如果疫情蔓延得更广、持续时间更长，供应可能会受到影响。”
        </p>
        <a href="">
            <img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1582011636333&di=7e8311d9fd54db2bf38fdc6b5abe67cc&imgtype=0&src=http%3A%2F%2Fa.hiphotos.baidu.com%2Fzhidao%2Fpic%2Fitem%2Fd058ccbf6c81800af1767f6db13533fa838b47c6.jpg" alt="">
        </a>
        <p>拳头游戏在去年十周年庆典上公布了多款游戏，其中包括《英雄联盟》和《云顶之弈》手游以及卡牌游戏《Legends of Runeterra》，而因为此前玩家社区对类似的项目反响并不是很好，比如暴雪的《暗黑破坏神：不朽》和V社的《Artifact》，所以拳头对新游的公布计划感到担忧，害怕会激怒玩家。为了让新游顺利公布并且不会造成玩家们的反感，拳头专门制定了5种策略，拳头的社区经理Ryan Rigney今日在推特上分享了他们制定的策略。</p>
    </div>
</div>
{% endblock %}