{% extends "index.html" %}

{% block right-container %}
<div class="container-mobile_game">
  <link rel="stylesheet" href="/static/blog/css/home/comic.css">
    <script type="text/javascript" src="/static/blog/js/home/comic.js"></script>
    <div class="slide_wrapper">
        <img id="focus_img"
            src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1579541872772&di=0cf599c51ae7ffc8825bab91933cfa09&imgtype=0&src=http%3A%2F%2Fgss0.baidu.com%2F-Po3dSag_xI4khGko9WTAnF6hhy%2Fzhidao%2Fpic%2Fitem%2F810a19d8bc3eb135888a72efa51ea8d3fd1f4411.jpg"
            alt="">
        <ul class="slide_lists">
            <li class="active"><img
                    src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1579541872772&di=0cf599c51ae7ffc8825bab91933cfa09&imgtype=0&src=http%3A%2F%2Fgss0.baidu.com%2F-Po3dSag_xI4khGko9WTAnF6hhy%2Fzhidao%2Fpic%2Fitem%2F810a19d8bc3eb135888a72efa51ea8d3fd1f4411.jpg"
                    alt=""></li>
            <li><img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1579542276646&di=f2d4d51a77ed6c066062fa6900109023&imgtype=0&src=http%3A%2F%2Fc.hiphotos.baidu.com%2Fzhidao%2Fpic%2Fitem%2F5ab5c9ea15ce36d3c704f35538f33a87e950b156.jpg"
                    alt=""></li>
            <li><img src="https://ss2.bdstatic.com/70cFvnSh_Q1YnxGkpoWK1HF6hhy/it/u=310867335,47017775&fm=26&gp=0.jpg"
                    alt=""></li>
            <li><img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1579542400396&di=3b1e6b0d4c92635d677eebab2fef2eca&imgtype=0&src=http%3A%2F%2Fattach.bbs.miui.com%2Fforum%2F201305%2F25%2F114140rno84n1io4810b1o.jpg"
                    alt=""></li>
            <li><img src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1579545341169&di=4299a9dc20479e949b362d14a5049c13&imgtype=0&src=http%3A%2F%2Fi2.hdslb.com%2Fbfs%2Farchive%2Fa17d3e6381e671fe8195f21fda184c694c90836d.jpg"
                    alt=""></li>
        </ul>
    </div>
    <div class="container-article">
        <ul>
            <li>
                <div class="article-header">
                    <a href="">国外父母晒带娃崩溃照 熊孩子堪称破坏之王</a>
                </div>
                <div class="article-content">
                    <a href=""><img
                            src="https://ss1.bdstatic.com/70cFvXSh_Q1YnxGkpoWK1HF6hhy/it/u=1598398343,1024883372&fm=26&gp=0.jpg"
                            alt=""></a>
                    <div class="article-text">
                        进入2020年已经2个多月，不少为人父母年轻爸妈也带着20后出生。但是带孩子的过程并不是想朋友圈晒娃那样简单美好的，许多年轻的父母都经历过带孩子的崩溃期，因为家里的熊孩子随意破坏，但又无法教育时，简直会让父母抓狂。最近日本推特也兴起了养娃崩溃时期的话题，名为：“育児衝撃画像”，看看这些令人崩溃的熊孩子，有没有你家的呢？
                    </div>
                </div>
            </li>
            <li>
                <div class="article-header">
                    <a href="">国外父母晒带娃崩溃照 熊孩子堪称破坏之王</a>
                </div>
                <div class="article-content">
                    <a href=""> <img
                            src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1581953080548&di=0917234ea97c352aee807c63fa540275&imgtype=0&src=http%3A%2F%2Fpicture.ik123.com%2Fuploads%2Fallimg%2F170523%2F12-1F523104409.jpg"
                            alt=""></a>
                    <div class="article-text">
                        进入2020年已经2个多月，不少为人父母年轻爸妈也带着20后出生。但是带孩子的过程并不是想朋友圈晒娃那样简单美好的，许多年轻的父母都经历过带孩子的崩溃期，因为家里的熊孩子随意破坏，但又无法教育时，简直会让父母抓狂。最近日本推特也兴起了养娃崩溃时期的话题，名为：“育児衝撃画像”，看看这些令人崩溃的熊孩子，有没有你家的呢？
                    </div>
                </div>
            </li>
            <li>
                <div class="article-header">
                    <a href="">国外父母晒带娃崩溃照 熊孩子堪称破坏之王</a>
                </div>
                <div class="article-content">
                    <a href=""> <img
                            src="https://timgsa.baidu.com/timg?image&quality=80&size=b9999_10000&sec=1581953080548&di=b0324886e877a34583eced47ca9e285a&imgtype=0&src=http%3A%2F%2Fbxcontent.test.upcdn.net%2Ff4d444b1a8353364882504a0200a152f.jpg"
                            alt="">
                    </a>
                    <div class="article-text">
                        进入2020年已经2个多月，不少为人父母年轻爸妈也带着20后出生。但是带孩子的过程并不是想朋友圈晒娃那样简单美好的，许多年轻的父母都经历过带孩子的崩溃期，因为家里的熊孩子随意破坏，但又无法教育时，简直会让父母抓狂。最近日本推特也兴起了养娃崩溃时期的话题，名为：“育児衝撃画像”，看看这些令人崩溃的熊孩子，有没有你家的呢？
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
{% endblock %}