*{
    padding:0;
    margin:0;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
body{
    background:url("/static/blog/img/shattered_2X.png") center top repeat;
}
.container{
    width: 1200px;
    margin:0 auto;
}
/* 中心内容区 wrapper*/
/*
wrapper:最外层div
container：中心内容区div
left_container：左边内容子区div
right_container：右边内容子区div
center_container：中间内容子区div
*/
html,body{
    height: 100%;
    width: 100%;
}
.wrapper{
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}
.wrapper .container{
    height: 100%;
    /* background-color: green; */
}
/* 中心内容区 wrapper----end*/
