/*底部信息区*/
.footer{
    height: 100px;
    z-index: 2;
    /* margin-bottom: 10px; */
    /* line-height: 60px; */
    /* position: absolute; */
    /* bottom: 0; */
    /* left: 0; */
    /* right: 0; */
}
.footer .container{
    height: 100%;
    background-color: #fafafa;
    text-align: center;
    /* font-size: 24px; */
}
/* 尾部信息区----wrapper end */