/*中间左侧内容区*/
.left-container{
    float: left;
    width:19%;
     /* background-color: red; */
    height: 100%;
}
.left-container ul li{
    height: 50px;
    line-height: 50px;
    margin-bottom: 15px;
    border-radius: 10px;
    background-color: green;
    text-align: center;

}
.left-container ul li a{
    display: block;
    color:#fafafa;
}
.left-container ul li:hover{
    height: 70px;
    line-height: 70px;
    font-size: 24px;
    background-color: #ff6700;
}
.left-container ul li.active{
    background-color: red;
}


/*中间左侧内容区end  -----*/

/*中间右侧内容区*/
.right-container{
    float: right;

    height: 100%;
    width:80%;
}
/*中间右侧内容区end  -----*/
