
.container .left-container{
    float: left;
    width:10%;
    background-color: red;
    height: 100%;
}
.container .right-container{
    float: right;
    width:10%;
    background-color: orange;
    height: 100%;
}
.container .center-container{
    margin:0 130px;
    background-color: yellow;
    height: 100%;
}
/* 诗句部分 */
.poem-header,.poem-container,img{
    text-align: center;
}
.poem-header .poem-name{
    font-size: 30px;
}
.poem-header .poem-author{
    font: 300 italic 12px/20px sans-serif;
}
.poem-container{
    font-size: 18px;
    line-height: 30px;
}
