{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}我的空间{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'blog/css/base_index.css' %}">
    <script src="/static/blog/js/jquery-3.4.1.js"></script>
    <script src="/static/blog/js/base_index.js"></script>
    <script src="/static/blog/js/moment.js"></script>
    {% block css %}
    {% endblock %}
    {% block js %}
    {% endblock %}
</head>

<body>
{#顶部导航栏区域#}
{% include "header.html" %}
{#中间部分#}
    <div class="wrapper">
        <div class="container">
            {% block wrapper-container %}
            建设中。。。
            {% endblock %}
        </div>
    </div>
{#底部#}
{% include "footer.html" %}
</body>

</html>