{#顶部导航栏区域#}
<link rel="stylesheet" href="/static/blog/css/header.css">
<script type="text/javascript" src="/static/blog/js/header.js"></script>
<div class="header">
    <div class="top-bar-nav">
        <div class="weather">
            <a href="" class="weather-text">
                <span class="city"></span>
                <img src="/static/blog/img/weather/102.png" alt="" class="weatherImg">
                <span class="tmp"></span>
                <span class="cond_txt"></span>
                <span class="f1"></span>
            </a>
            <div class="show-weather">
                <div class="every_weather">
                    <div class="everyday_item">

                    </div>
                    <div class="everyday_item">

                    </div>
                    <div class="everyday_item">

                    </div>
                </div>
            </div>
        </div>
        <div class="mydate">
            <span>今天是</span>
            <span id="now_time">加载中...</span>
        </div>
        <div class="container">
            我的个人编程分享网站(建设中。。。V3.0)
        </div>
    </div>
    <div class="top-bar">
        <div class="container">
            <div class="nav-left">
                <a href="">
                    <img src="static/blog/img/website_log.png" alt="">
                </a>
            </div>
            <div class="nav-right">
                <ul class="nav-list">
                    <li><a href="">首页</a></li>
                    <li><a href="">我的空间</a></li>
                    <li><a href="">娱乐</a></li>
                    <li><a href="">小玩意</a></li>
                    <li><a href="">其他</a></li>
                    <li><a href="">凑一凑</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="change-skin">
        <div class="small-img-show">
            <ul>

            </ul>
        </div>
        <span id="left-btn"><img src="/static/blog/img/left.png" alt=""></span>
    </div>
</div>