{% extends "base_index.html" %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'blog/css/index.css' %}">
{% endblock %}

{% block js %}
    <script src="/static/blog/js/index.js"></script>
{% endblock %}

{% block wrapper-container %}
{#    左边部分#}
    <div class="left-container">
        <ul class="left-btn">
            <li><a href="/home/comic">动漫</a></li>
            <li><a href="/home/single_game">单击游戏</a></li>
            <li><a href="/home/network_game">网络游戏</a></li>
            <li><a href="/home/mobile_game">手机游戏</a></li>
            <li><a href="/home/wallpaper">壁纸</a></li>
        </ul>
    </div>
{#    右边部分#}
    <div class="right-container">
    {% block right-container %}
    {% endblock %}
    </div>
{% endblock %}


